<%= render "shared/header", class: 'header--reversal' %>
<div class="hero hero__bg2">
  <div class="container">
    <div class="row">
      <div class="hero__heading col-lg-6 col-md-7">
        <h1>联系我们</h1>
        <p class="text-secondary mt-4">为您提供免费的咨询服务</p>
      </div>
    </div>
  </div>
</div>
<%= render "shared/split", style: "color: white" %>
<div class="container mb-5">
  <section class="section">
    <h4 class="text-center">联系我们</h4>
    <p class="mt-4 text-center text-secondary">您想要创建自己的网站或小程序吗？欢迎与我们取得联系，会为您提供咨询。</p>
    <div class="row justify-content-center">
      <div class="col-md-8 mt-4 pt-2">
        <%= notice_message %>
        <%= render 'contacts/form', contact: @contact %>
      </div>
    </div>
  </section>
</div>
<%= render('shared/footer') %>