<%= render "shared/header"%>
<div class="hero hero--mask">
  <div class="container">
    <div class="row">
      <div class="hero__heading col-lg-6 col-md-7">
        <h1>创造&实现商业计划</h1>
        <p class="text-secondary mt-4">CREATETHINK为您提供定制的设计、开发服务, 同时注重制作移动优先的WEB、H5和小程序。根据您的需要量身定义最合适的系统。</p>
        <div>
          <a href="/contact" class="btn btn-success text-white mt-4">免费咨询</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/split", style: "color: white" %>
<div class="container">
  <section class="section">
    <div class="service">
      <span class="badge badge-green text-white">核心服务</span>
      <h4 class="mt-3">我们提供的服务</h4>
      <p class="text-secondary mt-4">我们都是全栈工程师. 如果您选择我们, 我们会以我们最好的激情和技术为您提供如下核心服务</p>
      <div class="container-fluid mt-5">
        <div class="service__core row text-center">
          <div class="col-lg-3 col-md-4 col-12">
            <i class="ti-comments-smiley text-success"></i>
            <h4 class="mt-2 text-dark">
              沟通&方案
            </h4>
            <p class="text-secondary">在第一个阶段, 我们会与您沟通和了解您的实际情况. 然后根据实际情况制定出最优的解决方案.</p>
          </div>
          <div class="col-lg-3 col-md-4 col-12">
            <i class="ti-ruler-pencil text-success"></i>
            <h4 class="mt-2">
              原型&设计
            </h4>
            <p class="text-secondary">在第二个阶段, 我们会给出设计原型图与您确认. 如果方案确定我们将会进入设计阶段, 设计完成我们会与您再次确认.</p>
          </div>
          <div class="col-lg-3 col-md-4 col-12">
            <i class="ti-hummer text-success"></i>
            <h4 class="mt-2">
              制作&开发
            </h4>
            <p class="text-secondary">在第三个阶段, 我们会根据设计图进行程序的开发. 其中包括(前台、后台、数据库、框架)等一些列的开发, 其中我们会通过实时协作软件与您同步项目进度.</p>
          </div>
          <div class="col-lg-3 col-md-4 col-12">
            <i class="ti-link text-success"></i>
            <h4 class="mt-2">
              交付&维护
            </h4>
            <p class="text-secondary">在第四个阶段, 我们会为您部署项目与使用教学. 之后如果遇到任何意外问题我们会随时提供技术支持.</p>
          </div>
        </div>
      </div>

      <div class="skill container-fluid mt-5">
        <div class="row align-items-center">
          <div class="skill__cover col-lg-5 col-md-6">
            <%= image_tag("service-left", class: "w-100 shadow") %>
          </div>
          <div class="col-lg-7 col-md-6 mt-3 mt-md-0 mt-lg-0 mt-xl-0">
            <h4>技术范围</h4>
            <p class="text-secondary skill__description">下面允许我们自豪的介绍一下我们所熟悉的技术栈, 专业的技术为您提供专业的服务</p>
            <div class="accordion" id="skill">
              <div class="card shadow">
                <a href="#bootstrap" class="skill__title" data-toggle="collapse">
                  <div class="card-header">
                    Bootstrap
                  </div>
                </a>
                <div id="bootstrap" data-parent="#skill" class="collapse show">
                  <div class="card-body">
                    Bootstrp是世界上最受欢迎的前端组件库，在网络上构建响应式，移动优先的项目。它也是我们最基础的UI库
                  </div>
                </div>
              </div>
              <div class="card shadow">
                <a href="#sass" class="skill__title collapsed" data-toggle="collapse">
                  <div class="card-header">
                    React
                  </div>
                </a>
                <div id="sass" data-parent="#skill" class="collapse">
                  <div class="card-body">
                    React是用于构建用户界面的JavaScript库，我们使用它来构建最现代化的前端组件。
                  </div>
                </div>
              </div>
              <div class="card shadow">
                <a href="#redux" class="skill__title collapsed" data-toggle="collapse">
                  <div class="card-header">
                    Redux
                  </div>
                </a>
                <div id="redux" data-parent="#skill" class="collapse">
                  <div class="card-body">
                    Redux是JavaScript状态容器，提供可预测化的状态管理。我们使用它来管理应用程序中所有的状态
                  </div>
                </div>
              </div>
              <div class="card shadow">
                <a href="#webpack" class="skill__title collapsed" data-toggle="collapse">
                  <div class="card-header">
                    Webpack
                  </div>
                </a>
                <div id="webpack" data-parent="#skill" class="collapse">
                  <div class="card-body">
                    webpack是一个现代JavaScript应用程序的静态模块打包器(module bundler)，我们使用它来打包应用程序。
                  </div>
                </div>
              </div>
              <div class="card shadow">
                <a href="#nodejs" class="skill__title collapsed" data-toggle="collapse">
                  <div class="card-header">
                    Node.js
                  </div>
                </a>
                <div id="nodejs" data-parent="#skill" class="collapse">
                  <div class="card-body">
                    Node.js是基于Chrome V8 JavaScript引擎构建的JavaScript运行时，我们会使用它来开发后端程序以及一些CLI工具。
                  </div>
                </div>
              </div>
              <div class="card shadow">
                <a href="#rails" class="skill__title collapsed" data-toggle="collapse">
                  <div class="card-header">
                    Ruby on Rails
                  </div>
                </a>
                <div id="rails" data-parent="#skill" class="collapse">
                  <div class="card-body">
                    Rails是一个基于Ruby的Web应用程序框架，使用它可以让我们可以快速搭建出功能完备的MVC程序。
                  </div>
                </div>
              </div>
              <div class="card shadow">
                <a href="#database" class="skill__title collapsed" data-toggle="collapse">
                  <div class="card-header">
                    Database
                  </div>
                </a>
                <div id="database" data-parent="#skill" class="collapse">
                  <div class="card-body">
                    数据库我们在大多数情况下会选择MongoDB、PostgreSQL
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render "shared/split", style: "color: #f6f7fa" %>
<div class="extension">
  <div class="container">
    <section class="section">
      <h4 class="text-center">技术与服务</h4>
      <p class="extension__desciption text-center mt-4 text-secondary">一旦您选择我们, 将会真真切切的为您提供如下的技术与服务. 有些服务可能您能切实的体会到, 但是有些可能会在幕后为你提供服务不那么容易察觉. </p>
      <div class="mt-5 row">
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-comments-smiley text-success"></i>
            <h4>方案定制</h4>
            <p class="text-secondary">我们将会与您一起沟通共同确定产品功能和原型输出</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-ruler-pencil text-success"></i>
            <h4>界面设计</h4>
            <p class="text-secondary">根据您的需求或产品形态, 设计出符合产品的UI视觉</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-hummer text-success"></i>
            <h4>制作开发</h4>
            <p class="text-secondary">进行程序的开发. 其中包括(前台、后台、数据库、框架)等一些列的开发</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-bolt text-success"></i>
            <h4>项目测试</h4>
            <p class="text-secondary">
              软件交付前进行全面的功能和性能测试, 保证软件的交付质量
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-infinite text-success"></i>
            <h4>工作流程</h4>
            <p class="text-secondary">通过在线协作软件与项目管理软件实时沟通项目进度以及项目成果</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-shine text-success"></i>
            <h4>SEO优化</h4>
            <p class="text-secondary">分析定制Keyword、Meta、出站连接、接入监控平台以及更多的Technical SEO</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-settings text-success"></i>
            <h4>部署维护</h4>
            <p class="text-secondary">将为您提供永久免费的故障, 包括服务器问题、数据库问题以及部署方面的问题</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="extension__item text-center">
            <i class="ti-stats-up text-success"></i>
            <h4>共同成长</h4>
            <p class="text-secondary">将为您提供永久免费的故障, 包括服务器问题、数据库问题以及部署方面的问题</p>
          </div>
        </div>
      </div>

      <div class="extension__contact shadow bg-white rounded p-5">
        <div class="row">
          <div class="col-sm-8">
            <h5>准备开始启动您的项目了吗？</h5>
            <p class="text-secondary mt-3 pr-4">欢迎向我们咨询创建一个Web项目的任何问题, 非常高兴我们的专业能力能够陪同您一起前行.</p>
          </div>
          <div class="col-sm-4 mt-4 mt-sm-0 align-self-center text-center">
            <a href="/contact" class="btn btn-outline-success">
              <i class="ti-email mr-2"></i>
              联系我们
            </a>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-9 text-center">
          <div class="customer owl-carousel owl-theme">
            <div class="customer__view text-center">
              <p class="text-secondary font-italic mb-0">"I'll definitely add a link to this Chinese version in the main readme with credit going to you. Thanks again!!"</p>
              <div class="customer__info">
                <%= image_tag("avatar2", class: "rounded-circle mt-3 mb-3") %>
                <h6 class="mb-1">Travis Fischer</h6>
                <p class="text-secondary mb-0">Github</p>
              </div>
            </div>

            <div class="customer__view text-center">
              <p class="text-secondary font-italic mb-0">"CREATETHINK提供了非常专业的技术服务，只需要提出需求他们会给出专业的建议和定制化的程序开发"</p>
              <div class="customer__info">
                <%= image_tag("avatar1", class: "rounded-circle mt-3 mb-3") %>
                <h6 class="mb-1">CREATETHINK</h6>
                <p class="text-secondary mb-0">Github</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= render "shared/split", style: "color: white" %>
<div class="container latest-blog">
  <section class="section">
    <h4 class="text-center">最近博客</h4>
    <p class="latest-blog__description mt-4 text-center text-secondary">阅读有关我们最新的技术文章和新闻</p>
    <div class="row mt-5">
      <div class="col-4 bg-white">
        <div class="latest-blog__item rounded border">
          <div class="latest-blog__img"></div>
          <div class="p-3">
            <div class="clearfix">
              <small class="float-left">React</small>
              <small class="float-right text-muted">2019-12-25</small>
            </div>
            <a href="" class="latest-blog__title d-block mt-2 mb-2" alt="">React 指南</a>
            <p class="latest-blog__short text-secondary">这是一些描述文本阿尔地方为分为非仍无法</p>
            <div class="latest-blog__avatar border-top mt-3 pt-3 d-flex align-items-center">
              <%= image_tag("avatar1", class: "shadow rounded-pill mr-2") %>
              <span>monsterooo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render('shared/footer') %>